.idea
out
day-0*.iml
External Libraries
.DS_Store
/Users/farhod/new-java-pool/day-02/dictionary.txt
/Users/farhod/new-java-pool/day-02/file1
/Users/farhod/new-java-pool/day-02/file2
/Users/farhod/new-java-pool/day-03/files_urls.txt
